PORT=5000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
RESEND_API_KEY=
FOLDER_VIDEO=
FOLDER_NAME=
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
RAZORPAY_KEY=
RAZORPAY_SECRET=
UPDATE_PASSWORD_BASE_URL=http://localhost:3000/update-password
CONTACT_MAIL=
MONGODB_URL=
CLOUD_NAME=
API_KEY=
API_SECRET=
